* {
  box-sizing: border-box;
  font-family: Netflix Sans;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("Netflix.otf");
}

.home {
	background-color: black;
  font-family: Netflix Sans;
}

.head-hero {
  background-image: url(images/head-hero.png);
}

.home .signin-btn {
  margin-left: 20px;
}

.signin-btn {
  background-color: #E50914;
  border: none;
  border-radius: 3px;
  color: white;
  width: 84px;
  height: 34px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.lang-select {
   background-color: black;
   border: 1px solid #333333;
   border-radius: 3px;
   color: white;
   width: 94px;
   height: 36px;
   text-align: center;
   font-size: 16px;
   margin-right: 32px;
}

.home header {
  margin: 20px 56px 0 56px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.hero {
    margin-top: 167px;
}

.hero-wrap {
  width: 950px;
  height: 506.98px;
  top: 70px;
  left: 485px;
  padding: 74px, 0px, 89.39px, 0px;
  margin: 0 auto;
}

p,
h2 {
  font-family: Netflix Sans;
}

p,
h2 {
  color: white;
}

.headline {
  font-family: Netflix Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -0.005em;
  text-align: center;
}

.subtitle {
  font-family: Netflix Sans;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
}

.cta {
  font-family: Netflix Sans;
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: center;
}

.home input {
  width: 500px;
  height: 70px;
  border: 1px;
}

.form-wrap {
  display: flex;
  justify-content: center;
}

input[type=email] {
  padding-left: 15px;
  margin-bottom: 20px;
  height: 70px;
}


input[type=submit] {
  width: 247px;
  height: 70px;
  background-color: #E50914;
  color: white;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  padding: 0 ;
  vertical-align: middle;
}

.line {
  width: 100%;
  height: 8px;
  top: 747px;
  background-color: #222222;
}

.prop-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.two,
.four {
  flex-direction: row-reverse;
  margin: 35px 0 35px 0;
}

.one,
.three {
  margin: 35px 0 35px 0;
}

.value-img {
  width: 387px;
  height: 218px;
  top: 82px;
  left: 69px;
}

.prop-desc {
  width: 500.05px;
  height: 300px;
  top: 72.95px;
  padding: 0.06px, 96.05px, 6.94px, 0px;
}

.prop-header {
  font-family: Netflix Sans;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -0.01em;
  text-align: left;
}

.prop-body {
  font-family: Netflix Sans;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.second-form form {
  margin-bottom: 45px;
}

.faq-accordion-header h2 {
  font-family: Netflix Sans;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -0.01em;
  text-align: center;
}

/*FAQ styling*/

.faq-accordion {
  background-color: #222222;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-family: Netflix Sans;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.active,
.faq-accordion:hover {
  background-color: #222222;
}

.faq-accordion:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.faq-accordion-wrap {
  width: 815px;
  height: 650.56px;
  top: 107px;
  left: 507.5px;
  margin: 0 auto;
}

.faq-line {
  width: 100%;
  height: 8px;
  top: 747px;
  background-color: black;
}

footer {
  width: 900px;
  height: 283px;
  top: 3781.23px;
  left: 510px;
  margin: 0 auto;
}

.home footer {
  margin-top: 50px;
}

.link-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  height: 160px;
}

.link-wrap a {
  width: 25%;
  text-decoration: none;
  color: #757575;
  font-family: Netflix Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.phone {
  width: 300px;
  height: 20px;
  top: -0.23px;
  font-family: Netflix Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #757575;
  margin-bottom: 40px;
}

.india,
.home .lang-select {
  color: #757575;
}

#select-one {
  color: white;
}

.home .lang-select {
  margin: 10px 0 10px 0;
}


/* sign-in page */

/* Sign-in form styling */

.sign-in {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/sign-in-bg.png");
  font-family: Netflix Sans;
}

.sign-in .logo-wrap {
  margin: 25px 0 25px 60px;
}

.sign-in .form-wrap {
  width: 450px;
  height: 660px;
  border: none;
  display: block;
  margin: 0 auto;
  background-color: black;
  margin-bottom: 90px;
}

.sign-in .form {
  width: 314px;
  height: 315px;
  top: 60px;
  left: 68px;
  margin: 0 auto;
}

.sign-in h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.01em;
  text-align: left;
  padding-bottom: 5px;
  padding-top: 50px;
}

input[type=text], input[type=password] {
  width: 314px;
  height: 50px;
  margin: 8px 0;
  display: block;
  border: none;
  border-radius: 3px;
  background-color: #333333;
  padding-left: 15px;
  margin-bottom: 20px;
}

::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  top: 17px;
  left: 20px;
  color: #B3B3B3;
}

.sign-in button[type=submit] {
  width: 314px;
  height: 48px;
  margin-top: 22px;
}

.remember-help {
    width: 314px;
    height: 30px;
    margin-top: 5px;
}

label,
.help a {
  color: #B3B3B3;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
}

.help {
    float: right;
}

.sign-in button {
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

.sign-in button:hover {
  opacity: 0.8;
}

.fb-login {
  width: 314px;
  height: 20px;
  top: 404px;
  left: 68px;
  margin-top: 50px;
  color: white;
  margin: 0 auto;
  padding-top: 80px;
}

.fb-login p {
    color: #8C8C8C;
}

.fb-login .now {
  text-decoration: none;
  color: white;
}

.sign-in footer {
  width: 100%;
  height: 350px;
  left: 460px;
  background-color: #000000;
  opacity: 75%;
  row-gap: 1px;
}

.sign-in .footer-wrap {
  width: 1000px;
  height: 238px;
  left: 460px;
  margin: 0 auto;
  margin-bottom: 0;
}

.sign-in .phone {
  padding-top: 29px;
}

sign-in .lang-select-wrap {
  padding-bottom: 50px;
}

.sign-in .link-wrap {
  align-content: start;
  row-gap: 30px;
  padding-top: 50px;
}

/* Profile page */

.profile {
  background-color: black;
}

.profile .logo-wrap {
  margin: 25px 0 25px 60px;
}

.prof-img-wrap {
  width: 1260px;
  height: 313px;
  display: flex;
  align-items: center;
  column-gap: 35px;
  margin: 0 auto;
}

.profile img {
  width: 100%;
}

.prof-img-wrap p,
.profile-select .title {
  font-family: Netflix Sans;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #6D6D6EB2;
}

.prof-img-wrap a {
  text-decoration: none;
}

.profile-select .title {
  color: white;
  font-family: Netflix Sans;
  font-size: 64px;
  font-weight: 400;
  line-height: 82px;
  letter-spacing: 0em;
}

.yonet {
  width: 308px;
  height: 80px;
  padding: 10px, 30px, 10px, 30px;
  border: 1px solid #808080;
  margin: 0 auto;
}

.yonet p {
  font-family: Netflix Sans;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #808080;
}

/*Home page*/

.home-page {
  background-color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 60px 20px 60px;
}

.home-page .logo {
  margin-right: 30px;
}

.nav img {
  vertical-align: middle;
}

.nav a {
  text-decoration: none;
  color: white;
  font-family: Netflix Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 20px;
}

.fa-magnifying-glass,
.bi-gift,
.bi-bell-fill,
.bi-caret-down-fill {
  color: white;
  margin-right: 10px;
}

.profileimg {
  width: 32px;
}

.home-page .hero {
  width: 100%;
  height: 810px;
  background-image: url("./images/movieposter.png");
  margin-top: 0;
}

.movieinfo {
  top: 200px;
  left: 60px;
  padding-top: 200px;
  margin-left: 60px;
}

.moviedesc {
  margin-top: 0;
}

.moviedesc .title {
  font-family: Netflix Sans;
  font-size: 30px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.moviedesc .body {
  width: 636px;
  height: 132px;
  font-family: Netflix Sans;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.movieinfo .button {
  margin-top: 0;
}

.play {
  width: 175px;
  height: 62px;
  padding: 15px, 30px, 15px, 30px;
  border-radius: 4px;
  border: none;
  gap: 0px;
  font-family: Netflix Sans;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
}

.fa-solid,
.bi-info-circle {
  margin-right: 10px;
}

.info {
  width: 276px;
  height: 62px;
  padding: 15px, 30px, 15px, 30px;
  border: none;
  border-radius: 4px;
  background-color: white;
  opacity: 30%;
  font-family: Netflix Sans;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  margin-left: 10px;
}

.info #daha {
  color: black;
  opacity: 100%;
}

.top {
  margin-right: 10px;
  vertical-align: middle;
  width: 32px;
}

.moviescroll {
  font-family: Netflix Sans;
  font-size: 26px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.gallery-cell {
  width: 285px;
  height: 165px;
  margin-right: 5px;
  counter-increment: gallery-cell;
}

.gun {
    margin-left: 60px;
}

.kemal {
  margin-top: 100px;
  margin-left: 60px;

}

#gallerylong img {
  border-radius: 2px;
  height: 575px;
}

.rankwrap img {
  width: 145px;
  height: 205px;
}

.space1 {
  margin-right: 0;
}

.space2 {
  margin-left: 0;
}

.home-page footer {
  margin-top: 100px;
}

#sm {
  color: #808080;
  margin-right: 10px;
}

.social {
  margin-bottom: 20px;
}

.hizmet {
  width: 115px;
  height: 52px;
  padding: 10px, 15px, 10px, 15px;
  border: 1px solid #808080;
}

.hizmet p {
  color: #808080;
  text-align: center;
}



.nav {
  display: flex;
}

.mobile-container {
  display: none;
}

/* Responsiveness */

@media screen and (max-width: 50em) {
 .sign-in {
  background-color: black;
 }

 .sign-in {
  background-image: url();
 }


footer {
  width: 100%;
  height: 300px;
  margin: 5px 0 0 5px;
  border-top: 1px solid white;
}

.sign-in .footer-wrap {
  width: 100%;
  border-top: 3px white;
}

.sign-in .link-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 160px;
}

.sign-in .link-wrap a {
  width: 50%;
  text-decoration: none;
  color: #757575;
  font-family: Netflix Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.phone {
  width: 250px;
  height: 20px;
  top: -0.23px;
  font-family: Netflix Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #757575;
}

.hero-wrap {
  width: 300;
  height: 0.98px;
  top: 70px;
  left: 485px;
  padding: 74px, 0px, 89.39px, 0px;
  margin: 0 auto;
}

.sign-in .lang-select-wrap {
  padding-top: 30px;
}

.sign-in button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

.sign-in .form-wrap {
  width: 300px;
  height: 660px;
  border: none;
  display: block;
  background-color: black;
  margin-bottom: 90px;
}

.sign-in .form {
  width: 314px;
  height: 315px;
  top: 60px;
  left: 68px;
}

/* Profile page */

.profile .logo-wrap {
  margin: 25px 0 25px 10px;
  width: 35%;
}

.prof-img-wrap {
  width: 100%;
  height: 313px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 35px;
  margin: 0 auto;
}

.prof-img-wrap div {
  width: 25%;
}

.profile img {
  width: 100%;
}

.prof-img-wrap p,
.profile-select .title {
  font-family: Netflix Sans;
  font-size: 25px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #6D6D6EB2;
}

.prof-img-wrap a {
  text-decoration: none;
}

.profile-select .title {
  color: white;
  font-family: Netflix Sans;
  font-size: 45px;
  font-weight: 400;
  line-height: 82px;
  letter-spacing: 0em;
}

.yonet {
  width: 308px;
  height: 80px;
  padding: 10px, 30px, 10px, 30px;
  border: 1px solid #808080;
  margin: 150px auto;
}

.yonet p {
  font-family: Netflix Sans;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #808080;
}

/*Home page*/

.home .signin-btn {
  margin-left: 20px;
}

.signin-btn {
  background-color: #E50914;
  border: none;
  border-radius: 3px;
  color: white;
  width: 84px;
  height: 34px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.lang-select {
   background-color: black;
   border: 1px solid #333333;
   border-radius: 3px;
   color: white;
   width: 94px;
   height: 36px;
   text-align: center;
   font-size: 16px;
   margin-right: 32px;
}

.logo-wrap {
  margin-bottom: 40px;
}

.home header {
  margin: 20px 56px 0 56px;
}

.header-wrap {
  display: block;
  margin: 20px 0 2px 0;
}

.hero {
    margin-top: 100px;
}

.hero-wrap {
  width: 300px;
  height: 506.98px;
  top: 70px;
  left: 485px;
  padding: 74px, 0px, 89.39px, 0px;
  margin: 0 auto;
}

p,
h2 {
  font-family: Netflix Sans;
}

p,
h2 {
  color: white;
}

.headline {
  font-family: Netflix Sans;
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -0.005em;
  text-align: center;
}

.subtitle {
  font-family: Netflix Sans;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
}

.cta {
  font-family: Netflix Sans;
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.005em;
  text-align: center;
}

.home input {
  width: 300px;
  height: 10px;
  border: 1px;
}

.form-wrap {
  display: flex;
  justify-content: flex-start;
}

input[type=email] {
  padding-left: 15px;
  margin-bottom: 0px;
  height: 40px;
}


input[type=submit] {
  width: 150px;
  height: 40px;
  background-color: #E50914;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  padding: 0 ;
  vertical-align: middle;
}

.line {
  width: 100%;
  height: 8px;
  background-color: #222222;
}

#lineone {
  margin-top: 120px;
}

.prop-wrap {
  display: block;
  text-align: center;
}

.two,
.four {
  margin: 0;
}

.one,
.three {
  margin: 0;
}

.value-img {
  width: 300px;
  height: 218px;
  top: 82px;
  left: 69px;
}

.prop-desc {
  width: 300.05px;
  height: 300px;
  top: 72.95px;
  padding: 0.06px, 96.05px, 6.94px, 0px;
}

.prop-header {
  font-family: Netflix Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -0.01em;
  text-align: center;
}

.prop-body {
  font-family: Netflix Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
}

.second-form form {
  margin-bottom: 45px;
}

.faq-accordion-header h2 {
  font-family: Netflix Sans;
  font-size: 30px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: -0.01em;
  text-align: center;
}

/*FAQ styling*/

.faq-accordion {
  background-color: #222222;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-family: Netflix Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.active,
.faq-accordion:hover {
  background-color: #222222;
}

.faq-accordion:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.faq-accordion-wrap {
  width: 300px;
  height: 650.56px;
  top: 107px;
  left: 507.5px;
  margin: 0 auto;
}

.faq-line {
  width: 100%;
  height: 8px;
  top: 747px;
  background-color: black;
}

footer {
  width: 300px;
  height: 283px;
  top: 3781.23px;
  left: 510px;
  margin: 0 auto;
}

.home footer {
  margin-top: 50px;
}

.link-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 160px;
  gap: 15px;
}

.link-wrap a {
  width: 30%;
  text-decoration: none;
  color: #757575;
  font-family: Netflix Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.phone {
  width: 250px;
  height: 20px;
  top: -0.23px;
  font-family: Netflix Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 60px;
  color: #757575;
}

.india,
.home .lang-select {
  color: #757575;
}

#select-one {
  color: white;
}

.home .lang-select {
  margin: 10px 0 10px 0;
}

#select-two {
  margin-top: 150px;
}

/*homepage*/

.nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 20px 10px;
}

.home-page .logo {
  margin-right: 30px;
}

.nav img {
  vertical-align: middle;
}

.nav a {
  text-decoration: none;
  color: white;
  font-family: Netflix Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 20px;
}

.fa-magnifying-glass,
.bi-gift,
.bi-bell-fill,
.bi-caret-down-fill {
  color: white;
  margin-right: 10px;
}

.profileimg {
  width: 32px;
}

.home-page .hero {
  width: 300px;
  height: 100%;
  background: black;
  margin-top: 0;
}

.movieinfo {
  top: 200px;
  left: 60px;
  padding-top: 0;
  margin-left: 10px;
}

.moviedesc {
  margin-top: 0;
}

.yanimda {
  width: 100%;
  margin: 0 auto;
}

.moviedesc .title {
  font-family: Netflix Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.moviedesc .body {
  width: 340px;
  height: 132px;
  font-family: Netflix Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.movieinfo .button {
  margin-top: 0;
}

.play {
  width: 110px;
  height: 30px;
  padding: 15px, 30px, 15px, 30px;
  border-radius: 4px;
  border: none;
  gap: 0px;
  font-family: Netflix Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
}

.fa-solid,
.bi-info-circle {
  margin-right: 10px;
}

.info {
  width: 200px;
  height: 30px;
  padding: 15px, 30px, 15px, 30px;
  border: none;
  border-radius: 4px;
  background-color: white;
  opacity: 30%;
  font-family: Netflix Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  margin-left: 0;
  margin-top: 18px;
}

.info #daha {
  color: black;
  opacity: 100%;
}

.top {
  margin-right: 10px;
  vertical-align: middle;
  width: 32px;
}

.moviescroll {
  font-family: Netflix Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  width: 100%;
}

.gallery-cell {
  width: 170px;
  height: 100px;
  margin-right: 5px;
  counter-increment: gallery-cell;
}

.kemal {
  margin-top: 5px;
  margin-left: 10px;

}

#gallerylong img {
  border-radius: 2px;
  height: 350px;
}

.rankwrap img {
  width: 145px;
  height: 205px;
}

.gun {
  margin-left: 10px;
}

.space1 {
  margin-right: 0;
}

.space2 {
  margin-left: 0;
}

.home-page footer {
  margin-top: 100px;
}

#sm {
  color: #808080;
  margin-right: 10px;
}

.social {
  margin-bottom: 20px;
  margin-top: 20px;
}

.hizmet {
  width: 115px;
  height: 52px;
  padding: 10px, 15px, 10px, 15px;
  border: 1px solid #808080;
  margin-top: 130px;
}

.hizmet p {
  color: #808080;
  text-align: center;
}

.nav {
  display: none;
}

 /* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: black;
  position: relative;
  margin-bottom: 20px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: black;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: ;black
  color: white;
} 

.mobile-container {
  display: block;
}

  }